/* Adapted from https://www.w3schools.com/howto/howto_js_slideshow.asp */

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  overflow: auto;
}

.cartoonImage {
  min-height: 50%;
  min-width: 40%;
  position: absolute;
  left: 30%;
  top: 10%;
}

.prev, .next{
cursor: pointer;
  position: fixed;
  top: 30%;
  width: auto;
  color: black;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 25%;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 25%;
}
